body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

.search__heading::before,
.post__heading::before,
.tag__heading::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 60px;
  height: 1px;
  background: linear-gradient(to right, #f56915, #f0a80e);
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.search-input {
  width: 30%;
  flex: 1;
  height: 100%;
  font-size: 16px;
  color: #777777;
  border: none;
  outline: none;
  background: transparent;
}

.search-button {
  background: linear-gradient(to right, #f56915, #f0a80e);
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #ea580c;
}

.search-input::placeholder {
  color: #999;
}

.recent-posts {
  /* max-width: 400px; */
  padding: 20px 0px;
  border-radius: 8px;
}

.post-item {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.post-item:last-child {
  margin-bottom: 0;
}

.post-image {
  width: 100px;
  height: 97px;
  object-fit: cover;
  border-radius: 8px;
}

.post-content {
  flex: 1;
}

.post-title {
  font-weight: 600;
  color: #010f2e;
  margin: 0;
  line-height: 1.4;
  transition: color 0.2s;
  cursor: pointer;
}

.post-title:hover {
  color: #f56915;
}

.post-date {
  color: #f56915;
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.post-date svg {
  margin-right: 6px;
  fill: #f56915;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-item {
  transition: all 0.3s ease;
}

.category-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.category-name {
  position: relative;
}

.category-count {
  background-color: #f1f1f1;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.category-link {
  padding: 5px 15px 5px 10px;
}
.category-link:hover {
  color: #ff6b00;
  background: #fff;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}

.category-link:hover .category-name::before {
  background-color: #ff6b00;
}

.category-link:hover .category-count {
  background-color: #ff6b00;
  color: white;
}

.calendar__link,
.admin__link {
  background: linear-gradient(to right, #f56915, #f0a80e, #f0a80e, #f56915);
  height: 35px;
}

.btn__previous,
.btn__next {
  background: linear-gradient(to right, #f56915, #f0a80e, #f0a80e, #f56915);
}
.post__comment {
  box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.1);
}
.post__comment::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: linear-gradient(to top, #f56915, #f0a80e);
  top: 0;
  left: 0;
}
.post__item {
  background: linear-gradient(to right, #7859fc, #a756f9);
}
.socical__link:hover {
  background: linear-gradient(to right, #f56915, #f0a80e);
}
.socical__link:hover svg {
  fill: #fff;
}
.card__item {
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}
.comment__item {
  box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.1);
}
.btn__reply {
  background: linear-gradient(to right, #f56915, #f0a80e);
}
