body {
  font-family: Inter, sans-serif;
  margin: 0px;
  padding: 0px;
}

.active {
  color: #7c0fd1;
}
.mona__description {
  box-shadow: 1px 1px 10px 2px #761db9;
}
#menuList {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
